@{
    ViewData["Title"] = "План на день";
}
@model Task_Manager.Models.DtoForIndex;

<h3>План на день</h3>

@foreach (var item in Model.Childs)
{
    <h4>для @item.Name @item.Surname сегодня запланировано: </h4>
    @foreach (var task in Model.TasksToday[item])
    {
        <h5>
            <a asp-area="" asp-controller="Home" asp-action="SendToDone" asp-route-taskId="@task.TaskForDateId"><img src="~/icons/like.png" height="20" width="20" title="Сделано" alt="Сделано" /></a>
            <a asp-area="" asp-controller="Home" asp-action="SendToMissed" asp-route-taskId="@task.TaskForDateId"><img src="~/icons/dislike.png" height="20" width="20" title="Пропущено" alt="Пропущено" /></a>
            @task.TaskElement.TaskName из категории @task.TaskElement.TaskCategory, статус - @task.StatusTask.ToString()
        </h5>
    }
        <a asp-controller="Home" asp-action="MarkTask" asp-route-childId="@item.ChildId"> @item.Name @item.Surname  Сделал дополнительное задание </a>
}